<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel = "stylesheet" href = "style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <nav class = "nav navbar navbar-expand-lg navbar-dark bg-dark py-3 fixed-top">
        <div class = "container">
            <a href="#" class="navbar-brand">Open Source Software Project Sample</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar nav ms-auto ">
                    <li class = "nav-item">
                        <a href = "#Work out" class = "nav-link">Work out</a>
                    </li>
                    <li class = "nav-item">
                        <a href = "#Diet" class = "nav-link">Diet</a>
                    </li>
                    <li class = "nav-item">
                        <a href = "#News" class = "nav-link">News</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--showcase-->
    <section id = "Work out" class="bg-dark text-light p-5 p-lg-0 pt-lg-0 text-center-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>Newsletter</h1>
                </div>
            </div>
        </div>
    </section>

    <!--Newsletter-->
    <section id = "Diet" class="bg-primary text-light p-5">
        <div class = "container">
            <div class="d-md-flex justify-content-between align-items-center">
                <h1>Newsletter</h1>
            </div>
        </div>
    </section>

    <!-- Boxes -->
    <section id = "News" class="p-5">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <h3>Pushup</h3>
                            <img src = "image/man-2264825_1920.jpg" width = 300>
                            <p class = "card-text ">
                                pushup
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <h3>Card</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-white text-black">
                        <div class="card-body text-center">
                            <h3>Card</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Learn Section-->
    <section id = "learn" calss = "p-5 bg-light">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="image/dumbell-3435990_1920.jpg" class="img-fluid">
                </div>
                <div class="col-md p-5">
                    <h2>Learn the Fundamentals</h2>
                    <p class="lead">I believe we are here on the planet Earth to live, grow up and do what we can to make this world a better place for all people to enjoy freedom. -- Rosa Parks </p>
                    <p class="lead">I believe we are here on the planet Earth to live, grow up and do what we can to make this world a better place for all people to enjoy freedom. -- Rosa Parks </p>
                    <a href="#" class="btn btn-dark mt-3">
                        READ MORE
                    </a>
                </div>
            </div>
        </div>

    </section>

    <section id = "learn" class = "p-5 bg-dark text-light">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md p-5">
                    <h2>Learn the Fundamentals</h2>
                    <p class="lead">I believe we are here on the planet Earth to live, grow up and do what we can to make this world a better place for all people to enjoy freedom. -- Rosa Parks </p>
                    <p class="lead">I believe we are here on the planet Earth to live, grow up and do what we can to make this world a better place for all people to enjoy freedom. -- Rosa Parks </p>
                    <a href="#" class="btn btn-dark mt-3">
                        READ MORE
                    </a>
                </div>
                <div class="col-md">
                    <img src="image/man-2264825_1920.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <!-- Card -->
    <section id="instructors" class="p-5 bg-primary">
        <div class="container">
            <h2 class="text-center text-white">Card Section</h2>
            <p class="lead text-center text-white mb-5">
                This is a Card Section   
            </p>
            <div class="row g-4">
                <div class="col-md-6 col-lg-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="https://randomuser.me/api/portraits/men/11.jpg" class = "rounded-circle mb-3">
                            <h3 class = "card-text">John Doe</h3>
                            
                            <p class="card-text">You are the sum total of everything you've ever seen, heard, eaten, smelled, been told, forgot --  it's all there. <br>Everything influences each of us, and because of that I try to make sure that my experiences are positive. <br><br>-- Maya Angelou</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="https://randomuser.me/api/portraits/men/1.jpg" class = "rounded-circle mb-3">
                            <h3 class = "card-text">John Doe</h3>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="https://randomuser.me/api/portraits/men/13.jpg" class = "rounded-circle mb-3">
                            <h3 class = "card-text">John Doe</h3>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="https://randomuser.me/api/portraits/men/30.jpg" class = "rounded-circle mb-3">
                            <h3 class = "card-text">John Doe</h3>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>