<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel = "stylesheet" href = "../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        source {
            width : 500px; 
            height : 30px;
            padding : 10px;
            bold : bold;
            margin-left : 50px;
            margin-bottom : 30px;
            margin-top : -30px;
        } 
    </style>
</head>
<body>
    <nav class = "nav navbar navbar-expand-lg navbar-dark bg-dark py-3 fixed-top">
        <div class = "container">
            <a href=".." class="navbar-brand">Healthskku</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar nav ms-auto ">
                    <li class = "nav-item">
                        <a href = "../workout" class = "nav-link">Work out</a>
                    </li>
                    <li class = "nav-item">
                        <a href = "../diet" class = "nav-link">Diet</a>
                    </li>
                    <li class = "nav-item">
                        <a href = "../news" class = "nav-link">News</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--showcase-->
    <section id = "Work out" class="bg-dark text-light p-5 p-lg-0 pt-lg-0 text-center-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>Newsletter</h1>
                </div>
            </div>
        </div>
    </section>

    <!--Newsletter-->
    <section id = "Diet" class="bg-primary text-light p-5">
        <div class = "container">
            <div class="d-md-flex justify-content-between align-items-center">
                <h1>Newsletter</h1>
            </div>
        </div>
    </section>

    <!-- Boxes -->
    <section id = "News" class="p-5">
        <div class="container">
            <div class="row text-center g-4">
                
            </div>
        </div>
    </section>
    <!-- Learn Section-->
    <section id = "learn" calss = "p-5 bg-light">
        <div class="container">
            <source>
                <font size="24px" weight="bolder"> 네이버 뉴스 건강 정보 </font> 
            </source>
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Num.</th>
                            <th>제목</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td id="n1"> 
                                <a href="https://news.naver.com/main/read.naver?mode=LS2D&mid=shm&sid1=103&sid2=241&oid=296&aid=0000052952" text-color="black" style="color:none;" >
                                    <font color="black">
                                        집밥만 해먹는데 살은 안 빠지는 이유
                                    </font>
                                </a> 
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td id="n2"> 
                                <a href="https://news.naver.com/main/read.naver?mode=LS2D&mid=shm&sid1=103&sid2=241&oid=346&aid=0000046291" text-color="black" style="color:none;" >
                                    <font color="black">
                                        골다공증 환자, 칼슘제 효과 높이려면?
                                    </font>
                                </a> 
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td id="n3"> 
                                <a href="https://news.naver.com/main/read.naver?mode=LS2D&mid=shm&sid1=103&sid2=241&oid=296&aid=0000052951" text-color="black" style="color:none;" >
                                    <font color="black">
                                        파프리카, 색깔별로 영양 다르다?
                                    </font>
                                </a> 
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td id="n4"> 
                                <a href="https://news.naver.com/main/read.naver?mode=LS2D&mid=shm&sid1=103&sid2=241&oid=296&aid=0000052958" text-color="black" style="color:none;" >
                                    <font color="black">
                                        가장 큰 부정맥 유발 요인은 '이것' (연구)
                                    </font>
                                </a> 
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td id="n5"> 
                                <a href="https://news.naver.com/main/read.naver?mode=LS2D&mid=shm&sid1=103&sid2=241&oid=469&aid=0000643982" text-color="black" style="color:none;" >
                                    <font color="black">
                                        "3050 허리가 위태롭다"…허리 디스크 환자 53%가 30~50대
                                    </font>
                                </a> 
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td id="n6"> 
                                <a href="https://news.naver.com/main/read.naver?mode=LS2D&mid=shm&sid1=103&sid2=241&oid=469&aid=0000643977" text-color="black" style="color:none;" >
                                    <font color="black">
                                        스마트폰 달고 사는 당신, '거북목증후군' 됩니다
                                    </font>
                                </a> 
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td id="n7"> 
                                <a href="https://news.naver.com/main/read.naver?mode=LS2D&mid=shm&sid1=103&sid2=241&oid=346&aid=0000046285" text-color="black" style="color:none;" >
                                    <font color="black">
                                        미세먼지 심한 날, 눈 세척 방법은?
                                    </font>
                                </a> 
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td id="n8"> 
                                <a href="https://news.naver.com/main/read.naver?mode=LS2D&mid=shm&sid1=103&sid2=241&oid=346&aid=0000046292" text-color="black" style="color:none;" >
                                    <font color="black">
                                        "오전 7시 이전 식사, 장수에 도움"
                                    </font>
                                </a> 
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td id="n9"> 
                                <a href="https://news.naver.com/main/read.naver?mode=LS2D&mid=shm&sid1=103&sid2=241&oid=346&aid=0000046294" text-color="black" style="color:none;" >
                                    <font color="black">
                                        일기 쓰기, ‘좌뇌’ 자극에 도움… ‘우뇌’에는?
                                    </font>
                                </a> 
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td id="n10"> 
                                <a href="https://news.naver.com/main/read.naver?mode=LS2D&mid=shm&sid1=103&sid2=241&oid=346&aid=0000046295" text-color="black" style="color:none;" >
                                    <font color="black">
                                        하루 물 2L 마셔야 한다? 진실 or 거짓
                                    </font>
                                </a> 
                            </td>
                        </tr>
                        

                    </tbody>
                </table>

            </div>
        </div>

    </section>

    

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-muted">
        <!-- Section: Social media -->
        <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Footer</span>
        </div>
      
        <!-- Right -->
        </section>
        <!-- Section: Social media -->
    
        <!-- Section: Links  -->
        <section class="">
        <div class="container text-center text-md-start text-light mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Company name
                </h6>
                <p>
                Here you can use rows and columns to organize your footer content. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                Products
                </h6>
                <p>
                <a href="#!" class="text-reset">Angular</a>
                </p>
                <p>
                <a href="#!" class="text-reset">React</a>
                </p>
                <p>
                <a href="#!" class="text-reset">Vue</a>
                </p>

            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                Useful links
                </h6>
                <p>
                <a href="https://brunch.co.kr/keyword/%EA%B1%B4%EA%B0%95%C2%B7%EC%9A%B4%EB%8F%99?q=g" class="text-reset">Health</a>
                </p>
                <p>
                <a href="http://www.heodak.com/?NaPm=ct%3Dkvysy86y%7Cci%3Dcheckout%7Ctr%3Dds%7Ctrx%3D%7Chk%3D0702859f5d0a76f8573e461193d2cef935bf1c4f" class="text-reset">Diet Food</a>
                </p>
                <p>
                <a href="#!" class="text-reset">Help</a>
                </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                Contact
                </h6>
                <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                <p>
                <i class="fas fa-envelope me-3"></i>
                info@example.com
                </p>
                <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            </div>
            <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        </section>
        <!-- Section: Links  -->
    
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>